
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



.btn-primary{
    background-color: white;
    font-weight: bold;
    font-size: 10px;
    color: rgb(4, 92, 4);
    padding: 18px 35px;
    border-radius: 7px;
   border-color: rgb(4, 92, 4);
   margin-right: -90px;

}



/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
   
}

nav ul li {
    list-style: none;
}
 ul li {
    list-style: none;
}

/* banner styles */
.banner{
    display: flex;
}
.banner-pic{
    margin:  0 35px 0 120px;

}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Pillars section styles */
.Pillars-container{
    display: flex;
    gap: 24px;
}

.Pillars{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
}

/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
    

}

.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
}

.section-description{
    font-size: 18px;
    color: #757575;
}

/* shared style */
.secondary-bg{
    background-color: white;
    border-radius: 10px;
}

/* secondary section styles */
.secondary{
   padding: 30px;
   border: 5px;
   box-shadow: 0px 6px 20px 0px rgb(0, 0, 0, 0.25);
}
 
/* header */
.header{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}